body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 85%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #d35400;
    font-size: 2.5em;
    margin: 0;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro p {
    color: #666;
    font-size: 1.2em;
}

.gallery {
    text-align: center;
    margin: 20px 0;
}

.gallery h2 {
    color: #d35400;
    margin-bottom: 20px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images img {
    width: 30%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.images img:hover {
    transform: scale(1.05);
}

.details, .itinerary {
    margin: 20px 0;
}

.details h2, .itinerary h2 {
    color: #d35400;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.details p, .itinerary p {
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
}
